<html>
    <head>
        <title>Binance Trading Bot</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <Body>
        <h1>Binance Trading Bot</h1>

        <div>
            <h2>Bitcoin Value</h2>
            <div id="chart"></div>
        </div>

        <div id="trades"></div>

        <div id="exchange_selector">
            <h2>Exchange Selector</h2>
            <select>
                {% for symbol in symbols %}
                    <option>{{ symbol['symbol'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="user_balances">
            <h2>User Balances</h2>
            <table>
                {% for balances in user_balances %}
                <tr>
                    <td>
                        {{ balances['asset'] }}
                    </td>

                    <td>
                        {{ balances['free'] }}
                    </td>
                </tr>   
                {% endfor %}
            </table>
        </div>

        <script src="{{ url_for('static', filename='chart.js') }}"></script>
    </Body>
</html>